* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(62, 15, 154);
  background: linear-gradient(
    257deg,
    rgba(62, 15, 154, 1) 0%,
    rgba(3, 2, 33, 1) 77%
  );
}
